.cartContainer {
  width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(51, 53, 53, 0.8);
  border-left: 1px solid gray;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cartContainer::-webkit-scrollbar {
  display: none;
}

.cartContainer > button {
  margin-top: 15px;
}

.cartProduct {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
  background-color: dimgray;
  border-radius: 10px;
  padding: 10px;
}

.productDetails {
  padding: 10px;
}

.productQuantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productQuantity * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.productImage img {
  width: 200px;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.removeButton {
  position: absolute;
  top: -10px;
  right: -20px;
  border: unset;
}

.removeButton button {
  background-color: unset;
  font-size: 20px;
}

.removeButton button:focus {
  outline: unset;
}

.removeButton button:hover {
  border-color: transparent;
}

.showCart {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}

.cart-count {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 1.3rem;
  right: 1.5rem;
  background-color: #ff00009c;
  border-radius: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearCartButton {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
}
