.checkout-table {
  width: 100%;
  border-collapse: collapse;
}

.checkout-table th,
.checkout-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.checkout-table th {
  font-weight: bold;
}

.checkout-table .product-image img {
  width: 100px;
  aspect-ratio: 16/9;
}

.checkout-table .product-name {
  width: 30%;
}

.checkout-table .product-quantity {
  width: 20%;
  font-weight: bold;
}

.checkout-table .product-quantity button {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.checkout-table .product-quantity button:first-child {
  margin-right: 10px;
}

.checkout-table .product-quantity button:last-child {
  margin-left: 10px;
}

.checkout-table .product-quantity span {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.checkout-table .product-remove button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgb(132, 48, 48);
  border: 1px solid #ccc;
  cursor: pointer;
  color: #fff;
}

.checkout-table .product-price {
  width: 20%;
}

.checkout-table tr:last-child {
  font-weight: bold;
  border-top: 2px solid #ccc;
}

.checkout-table tr:last-child td {
  padding-top: 10px;
}

.checkout-table tr:last-child td:first-child {
  font-weight: bold;
}

.buyButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 3.5rem;
  margin-top: 1rem;
}

.buyButton button {
  background-color: rgb(52, 113, 82);
  color: white;
}
