.debug {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blur(8px);
  width: 200px;
}

.debug span {
  font-size: 16px;
  color: #09f;
  opacity: 0.8;
}
